<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{asset('asset/style.css')}}">
	<title>symph</title>
</head>
<body>
		<header>
		<nav>
			<ul>
				<li>
					<a href="/register">S'inscrire</a>
				</li>
				<li>
					<a href="/login"> Se connecter</a>
				</li>
				<li>
					<a href="/profile/change-password">Update mdp</a>
				</li>
				<li>
					<a href="/resetting/request">Update email</a>
				</li>
				<li>
					<a href="/profile">Mon compte</a>
				</li>
				{% if is_granted('ROLE_USER') %}
				<li>
					<a href="/logout">Se déconnecter</a>
				</li>
				{% endif %}
			</ul>

		</nav>
	</header>
	<h1> Resultat </h1>
	<div id="container">
		{% for question in questions %}
			<p>Mauvaise réponse = {{ question }}</p>
			{% endfor %}
		{% for choice in choices %}
				<p>Bonne réponse = {{ choice }}</p>
			{% endfor %}
	</div>
</body>
</html>